---
// Import BaseLayout
import BaseLayout from '../layouts/BaseLayout.astro';
// Import Header
import Header from '../layouts/Header.astro';

// Import Stylesheet
import '../styles/global.css';


// data source
const source = 'https://www.csscolorsapi.com/api/colors';
// fetch the data
const res = await fetch(source); 
// store retreived data
const data = await res.json();

console.log(data);
---

<BaseLayout>
		<Header />
		
    <main id="content" class="main-area">
       
		  
				<!-- Your API Data -->
        
         {
					data.colors.map(color => (
					<div class="card-item" style={`background-color: #${color.hex};`}>
						
            <h1 class={`caption-title ${color.theme === 'dark' ? 'light-text' : ''}`}>{color.name}</h1>
			<div class="info-overlay" style={`color: ${color.theme === 'dark' ? 'white' : 'black'};`}>
			<div><span class="title">Theme:</span> {color.theme}	</div>
			<div><span class="title">Group:</span> {color.group} </div>
			<div><span class="title">Hex:</span> #{color.hex} </div>
			<div><span class="title">RGB:</span> {color.rgb} </div>
					</div> 
					</div>
				))
					}

   
</main>
</BaseLayout>

	
