---
// Import BaseLayout
import BaseLayout from '../layouts/BaseLayout.astro';
// Import Header
import Header from '../layouts/Header.astro';

// Import Stylesheet
import '../styles/global.css';

// data source
const source = 'https://www.csscolorsapi.com/api/colors';
// fetch the data
const res = await fetch(source); 
// store retreived data
const data = await res.json();

console.log(data);
---

<BaseLayout>
		<Header />
		
    <main id="content" class="main-area">
       
		  
				<!-- Your API Data -->
        
         {
					data.colors.map(color => (
					<div class="card-item" style={`background-color: #${color.hex};`}>
            <h1 class="caption-title">{color.name}</h1>
			<div>Theme: {color.theme}	</div>
			<div>Group: {color.group} </div>
			<div>Hex: #{color.hex} </div>
			<div>RGB: {color.rgb} </div>
					</div> 
				))
					}

   
</main>
</BaseLayout>

	
